# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://aozsuqxcpbotbxmwstin.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFvenN1cXhjcGJvdGJ4bXdzdGluIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI2NjcyNDEsImV4cCI6MjA3ODI0MzI0MX0.82Sw1UjAYLTHcPcFAgiIECf8R4EO_NPORZe1V-2O_jY
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFvenN1cXhjcGJvdGJ4bXdzdGluIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MjY2NzI0MSwiZXhwIjoyMDc4MjQzMjQxfQ.xw7P9fkhwaf3LAocKifMxXM3cl1xEeNvprylkNhSj34

# Database Configuration
DATABASE_URL=postgresql://postgres:Rameswara%401234@db.aozsuqxcpbotbxmwstin.supabase.co:5432/postgres

# Stripe Configuration
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=sb_publishable_WDeiyls9KlukPdfiQt7ntQ_lhOHApn8
STRIPE_SECRET_KEY=sb_secret_PTKdBKYBUQicaMMvY3deRg_2A1xvKnD
STRIPE_ACCESS_TOKEN=sbp_8760bfb115b3fc140e7027ee39a7bcd189dace59

